<link rel="stylesheet" href="/css/_header.css">

<nav>
    <ul class="horizontal-list">
        <li><h1 style="margin-left: 300px; color: white; font-size: 30px;">Career Camp</h1></li>
        <li><button style="margin-left: 400px;">Search More Jobs</button></li>
        <li><button>Sign Out</button></li>
    </ul>
</nav>