#vertical-list{
    list-style: none;
    padding: 2px;
    background-color: lightgray;
    height: 85%;
    width: 250px;
    text-align: center;
    
}

#vertical-list li{
    
    margin: 20px 0px 0px -15px;
}

#vertical-list li a{
    color: blue;
    text-decoration: none;
    transition: color 0.5s;
}

#vertical-list li a:hover {
    background-color: #ddd;
    color: black;
  }

  i{
    margin-right: 5px;
  }  