body{
    background-color:lightgray;
}

#header{
    background-color: 	#0080ff;
    height: 80px;
}

#header h1{
    color: white;
    margin-left: 150px;
    padding-top: 20px;
}

#login-section{
    margin-left: 700px;
    margin-top: -50px;
}

#header input[type=email],input[type=password],input[type=text]{
    padding: 5px;
   margin-left: 10px ;
    border: none;
    /* background: #f1f1f1; */
}



#right-container input[type=email],input[type=password],input[type=text]{
  
    padding: 10px;
   
   margin-left: 10px ;
    border: none;
}


#right-container{
   
   margin-top: -530px;
    margin-left: 700px;
   
}

#left-container{
    width: 650px;
    height: 540px;
    background-image: url("../images/homeimage.png");
    background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  opacity: 0.7;
}